@tailwind base;
@tailwind components;

.something {
  filter: blur(1px) brightness(.90) grayscale(.7);
}

span{
  @apply text-gray-500;
}

p {
  @apply py-2;
}

.yellow-bulleted li::before { 
  content: "-";
  @apply text-yellow-500 mx-2;
}

a {
  @apply text-yellow-500 text-xl border-b border-yellow-300;
}

a:hover{
  @apply text-gray-100 border-opacity-50
}

h1 {
  border-bottom: 1px solid;  
  @apply text-3xl font-semibold font-mono border-purple-300 inline-block my-4 clear-both;
}

h1::before {
  content: "#";
  @apply text-xl font-hairline text-purple-300 mr-4;
}

body {
  @apply bg-gray-900;
}

.btn-blue {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}

.title {
  @apply text-5xl text-center;
  color: #333;
  line-height: 1.15;
}

@tailwind utilities;
